<div>
    <!-- 
        [formControl]="myInputControl"

        make use formControl
     -->
    <input 
        class="my-input"
        (change)="inputValueChanged($event.target.value)"
        (keyup)="inputValueChanged($event.target.value)"
        (keydown)="inputValueChanged($event.target.value)"
    />
    <option class="suggest-option"
        [value]="option"
        (click)="optionSelected(option)"
         *ngFor="let option of filteredOptions;let index=i">
        {{option}}
    </option>
</div>

<input
    (change)="inputValueChanged($event.target.value)"
    (keyup)="inputValueChanged($event.target.value)"
    (keydown)="inputValueChanged($event.target.value)"
>

<button>button </button>



<!-- 

      <input 
        class="my-input"
        [(ngModel)]="inputValue"
        (keyup)="inputValueChanged()"
        (change)="inputValueChanged()"
        (ngModelChange)="inputValueChanged($event.target.value)"
    />



 -->


