.my-input{
    // background:red;
    width: 50%;
    padding: 5px;
}

.suggest-option{
    background:lightgray;
    width: 50%;
    // border: 1px solid black;7
    padding: 5px;
    z-index: 500;
    cursor: pointer;
}