<h3>Welcome to  homepage </h3>


<div>
    <p>Choose a highlight color</p>
    <input type="radio" name="colors" (click)="changeHighLightColor('green')"> Green
    <input type="radio" name="colors" (click)="changeHighLightColor('pink')"> Pink
    <input type="radio" name="colors" (click)="changeHighLightColor('yellow')"> Yellow
    <input type="radio" name="colors" (click)="changeHighLightColor('violet')"> Violet
</div>

<!-- ngNonBindable -->
<!-- interpolation does not work in ngNonBindable  -->
<p [appHighlight]="highlightColor"
    defaultColor="brown"
    [thirdInput]="thirdInput">
    This is an interpolation string :
    {{ tempString  }}
</p>


<br>

<a routerLink="/register"> <button> Register </button> </a>

<br>

<a routerLink="/login"> <button> Login </button></a>
<br>

<a routerLink="/charDemo">
    <button> Chart Demo Component</button>
</a>
<!--
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>

<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
<p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum quibusdam odio eos autem laboriosam assumenda vel labore officiis voluptate excepturi accusamus maxime iure, voluptatum, fugiat deleniti ab magni. A, commodi?</p>
-->
