<p>This is in test-branch</p>

<p> Angular Vesion : {{ angularVersion }}</p>


<div>
    <p>Choose a highlight color</p>
    <input type="radio" name="colors" (click)="changeHighLightColor('green')"> Green
    <input type="radio" name="colors" (click)="changeHighLightColor('pink')"> Pink
    <input type="radio" name="colors" (click)="changeHighLightColor('yellow')"> Yellow
    <input type="radio" name="colors" (click)="changeHighLightColor('violet')"> Violet
</div>

<!-- ngNonBindable -->
<!-- interpolation does not work in ngNonBindable  -->
<p [appHighlight]="highlightColor"
    defaultColor="brown"
    [thirdInput]="thirdInput">
    This is an interpolation string :
    {{ tempString  }}
</p>


<br>

<a routerLink="/register"> <button> Register </button> </a>

<br>

<a routerLink="/login"> <button> Login </button></a>
<br>

<a routerLink="/charDemo">
    <button> Chart Demo Component</button>
</a>
